<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Используем ApplicationContext из DeltaChat, чтобы не сломать их инициализацию -->
    <application
        android:name="org.thoughtcrime.securesms.ApplicationContext"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Universal Launcher"
        android:theme="@style/Theme.Material3.Light"
        tools:replace="android:name,android:label,android:theme,android:allowBackup">

        <activity
            android:name="com.launcher.multiapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
